/*ESTILOS GLOBALES*/

.body {
  font-family: "Inter", sans-serif;
}

header {
  position: relative;
  z-index: 99999;
}

.sectionTitle {
  font-family: "Inter", bold;
  font-weight: bolder;
  font-size: 3rem;
}

.sectionTitleBg {
  background-color: #3c0707;
}

.sectionPicadTit {
  width: 50%;
}

.sectionVinosTit,
.sectionAlmacTit {
  width: 35%;
}

.sectionSubtitle {
  font-family: "Grape Nuts", cursive;
  padding-right: 10%;
  font-size: 2.2rem;
}

.sectionBg1 {
  background-color: #250d0d;
}

.sectionBg2 {
  background-color: #111010;
}

.sectionBg3 {
  background-color: #150202;
}

#logo {
  width: 5%;
}

i {
  color: white;
  padding: 5% 1% 0% 5%;
}

/*HEADER-NAV*/

.nav-link {
  color: white;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f0e368;
}

.navbar-nav .nav-link.custom-active {
  color: #f0e368;
}

.nav-item {
  color: white;
  font-family: "Inter", sans-serif;
}

.dropdown-menu .dropdown-item.custom-hover {
  color: white;
  transition: color 0.3s;
}

.dropdown-menu .dropdown-item.custom-hover:hover,
.dropdown-menu .dropdown-item.custom-hover:focus {
  color: #f0e368;
  background-color: transparent;
}

#btn-header-cont {
  padding: 3.5% 0% 3.5% 3%;
}

#btn-header {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  background-color: #850000;
  padding: 0.5% 5% 0.5% 5%;
  border-radius: 0;
  -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
}

.carouselMob {
  display: none;
}

/*PICADAS*/

.container {
  overflow: hidden;
  padding: 3% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container .swiper-container {
  width: 100%;
  height: 100%;
}
.container .swiper-slide {
  display: flex;
  text-align: center;
  text-align: start;
  justify-content: center;
  margin-right: 2%;
  border: 1.5em solid #f0e368;
}

.container .swiper-slide img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.text-card-cont {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(16, 16, 16, 0.93);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.container .swiper-slide:hover .text-card-cont {
  opacity: 1;
  visibility: visible;
}

.text-card-cont h3 {
  font-family: "Grape Nuts", cursive;
  font-weight: 600;
  color: white;
}

.text-card-cont ul {
  display: flex;
  flex-direction: column;
  justify-content: start;

  letter-spacing: 0.2em;
}

.text-card-cont ul li {
  text-align: left;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.swiper-pagination {
  position: relative;
  padding-top: 3%;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
  transition: opacity 0.3s ease 0s;
}

:root {
  --swiper-theme-color: #fff27c;
  --swiper-pagination-bullet-inactive-color: #f8f8f8;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 227, 104, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*ALMACEN*/

#almacImg {
  background-color: #490909;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

#almacImg img {
  width: 85%;
}

.accordion {
  width: 20%;
  --bs-body-color: #250d0d;
  --bs-accordion-border-color: #250d0d;
  --bs-accordion-active-bg: #f0e368;
  --bs-accordion-active-color: #250d0d;
  --bs-accordion-btn-focus-border-color: #250d0d;
  --bs-accordion-btn-focus-box-shadow: rgba(37, 13, 13, 0.25);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23250d0d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
  background-color: #250d0d;
}

.accordion-button {
  background-color: #490909;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}

.accordion-button:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f0e368'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button::after {
  color: white;
}

.accordion-body {
  background-color: #490909;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/*CONTACTO*/

.hover-text {
  color: white;
  cursor: pointer;
  transition: color 500ms ease;
}

.hover-text:hover {
  color: #f0e368;
}

.hover-image {
  cursor: pointer;
  transition: transform 500ms ease;
}

.hover-image:hover {
  transform: scale(1.2);
}

/*FOOTER*/

.back-to-top {
  position: fixed;
  display: block;
  right: 1px;
  bottom: 1px;
  z-index: 99998;
  text-decoration: none;
  background-color: transparent;
  border-radius: 50%;
}

#logoB4 {
  width: 10%;
}

/*MEDIA QUERIE MOBILE*/

@media only screen and (min-width: 280px) and (max-width: 768px) {
  #logo {
    width: 15%;
  }

  #btn-header-cont {
    justify-content: center;
  }

  #btn-header {
    font-size: 1.1rem;
  }

  #picadTitle,
  #vinosTitle,
  #almacTitle {
    font-size: 2rem;
  }

  .sectionPicadTit {
    width: 100%;
  }

  .sectionVinosTit {
    width: 90%;
  }

  .sectionAlmacTit {
    width: 70%;
  }

  .sectionSubtitle {
    font-size: 1.3rem;
    text-align: end;
    padding-right: 2%;
  }

  .carouselDesk {
    display: none;
  }

  .carouselMob {
    display: inline;
  }

  #almacen {
    flex-direction: column;
  }

  .accordion {
    width: 100%;
    padding-top: 3%;
  }

  #containerContacto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  #pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #infoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
  }

  #infoContacto div {
    display: flex;
    flex-direction: row;
  }

  #infoContacto div a {
    padding: 15%;
  }

  #logoB4 {
    width: 10%;
  }

  .back-to-top {
    display: none;
  }
}
