.body {
  font-family: "Inter", sans-serif;
}

.nav-link {
  color: white;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f0e368;
}

.navbar-nav .nav-link.custom-active {
  color: #f0e368;
}

.nav-item {
  color: white;
  font-family: "Inter", sans-serif;
}

.dropdown-menu .dropdown-item.custom-hover {
  color: white;
  transition: color 0.3s;
}

.dropdown-menu .dropdown-item.custom-hover:hover,
.dropdown-menu .dropdown-item.custom-hover:focus {
  color: #f0e368;
  background-color: transparent;
}

#btn-header-cont {
  justify-content: flex-end;
}

#btn-header {
  color: white;
  font-weight: bold;
  background-color: #850000;
  padding: 0.5% 5% 0.5% 5%;
  border-radius: 0;
  -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
}

.carouselMob {
  display: none;
}

.sectionTitle {
  font-family: "Inter", bold;
  font-weight: bolder;
  font-size: 3rem;
}

.sectionTitleBg {
  background-color: #3c0707;
}

.sectionSubtitle {
  font-family: "Grape Nuts", cursive;
  padding-right: 10%;
}

.sectionBg1 {
  background-color: #250d0d;
}

.sectionBg2 {
  background-color: #111010;
}

#logo {
  width: 5%;
}

.cardPicadas {
  background-image: url("./assets/img/picadas/edit_picada_01.png");
}

#almacImg {
  background-color: #490909;
  height: fit-content;
}

#almacList {
  background-color: #490909;
  list-style-type: none;
}

#almacListCont {
  background-color: #490909;
  height: fit-content;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
  #logo {
    width: 15%;
  }

  #btn-header-cont {
    justify-content: center;
  }

  .carouselDesk {
    display: none;
  }

  .carouselMob {
    display: inline;
  }

  #almacen {
    flex-direction: column;
  }

  #almacList {
    padding: 0%;
    text-align: center;
  }
}

.container {
  overflow: hidden;
  padding: 3% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container .swiper-container {
  width: 100%;
  height: 100%;
}
.container .swiper-slide {
  display: flex;
  text-align: center;
  text-align: start;
  justify-content: center;
  margin-right: 2%;
}

.container .swiper-slide img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.text-card-cont {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(17, 16, 16, 0.79);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.container .swiper-slide:hover .text-card-cont {
  opacity: 1;
  visibility: visible;
}

.text-card-cont h3 {
  font-family: "Grape Nuts", cursive;
  color: white;
}

.text-card-cont ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.text-card-cont ul li {
  text-align: left;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: white;
}

.swiper-pagination {
  position: relative;
  padding-top: 3%;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  z-index: 10;
  transition: opacity 0.3s ease 0s;
}

:root {
  --swiper-theme-color: #fff27c;
  --swiper-pagination-bullet-inactive-color: #f8f8f8;
}
