.body {
  font-family: "Inter-Regular", sans-serif;
}

.sectionTitle {
  font-family: "Inter", bold;
}

.sectionSubtitle {
  font-family: "Grape Nuts", cursive;
  padding-right: 10%;
}

#logo {
  width: 5%;
}

#picadas {
  background-color: #250d0d;
}

#picadTitle {
  background-color: #3c0707;
}

.cardPicadas {
  background-image: url("./assets/img/picadas/edit_picada_01.png");
}

#vinos {
  background-color: #111010;
}

#vinosTitle {
  background-color: #3c0707;
}

#almacen {
  background-color: #250d0d;
}

#almacTitle {
  background-color: #3c0707;
}

#almacImg {
  background-color: #490909;
}

#almacList {
  background-color: #490909;
  list-style-type: none;
}

@media screen and (max-width: 576px) {
  #logo {
    width: 15%;
  }

  .carouselDesk {
    display: none;
  }
}
